/****************
HEADING
****************/

header {
  margin: 100px auto;
  text-align: center;
}

h1 {
  display: block;
  font-family: 'Pacifico', cursive;
  font-size: 3.0em;
  margin-bottom: 0;
}


/****************
LISTS
****************/

.main h3 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  width: 100%;
  text-align: center;
  margin: 0;
}

.main a {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  text-decoration: none;
}

.main ul {
  margin: 0;
  padding: .125em 0;
  text-align: center;
  list-style: none;
}

.main section {
  display: inline-block;
  float: left;
  margin: 0 15% 20px;
  width: 70%;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

/****************
WEATHER BLOCK
****************/

div.weather {
  font-family: sans-serif;
  font-size: 1.1em;
  opacity: 70%;
  margin-top: 0;
}

/****************
COLORS
****************/

body {
  background-color: #2B303B;
  color: #EFF1F5;
}

body a, body a:visited {
  color: #65737E;
}

body a:hover {
  color: #96B5B4;
}

.main ul {
  background-color: #EFF1F5;
}

.reddit h3 {
  background-color: #8FA1B3;
}

.school h3 {
  background-color: #96B5B4;
}

.dev h3 {
  background-color: #A3BE8C;
}

.general h3 {
  background-color: #AB7967;
}

.weather {
  color: #acb3c3;
}

/****************
SEARCH
****************/

section.search {
  justify-content: center;
  align-items: flex-end;
}

#search-text {
  background-color: #20242c;
  border: none;
}

input, select, textarea {
  color: #DDD;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #DDD;
  text-align: center;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #DDD;
  opacity:  1;
  text-align: center;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #DDD;
  opacity:  1;
  text-align: center;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #DDD;
  text-align: center;
}
